<h1>Hellow Angular World!</h1>
<!--interpolation-->
<!--<p>{{title}}</p>-->
<!--<p><strong>{{number - 2}}</strong></p>-->
<!--<p><strong>{{arr}}</strong></p>-->
<!--<p><strong>{{obj}}</strong></p>-->
<!--<p><strong>{{obj.a}}</strong></p>-->
<!--<p><strong>{{obj.b.c}}</strong></p>-->
<!--one way binding-->
<!--<img [src]="img" alt="react logo">-->

<hr>
<!--<app-post></app-post>-->
<!--<app-post></app-post>-->
<hr>
<!--<app-post4></app-post4>-->

<!--<label>-->
<!--  <input type="text" (input)="onInput($event)">-->
<!--</label>-->
<!--<p><strong>{{inputValue}}</strong></p>-->
<app-two-way-data-ginding></app-two-way-data-ginding>
<app-directives></app-directives>

<app-pipes></app-pipes>
